/***********************************************************************************************************************
    Déclation des fonts
***********************************************************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');





/***********************************************************************************************************************
    Initialisation des styles
***********************************************************************************************************************/

* {
    margin: 0;
    padding: 0;
}
button {
    outline: none !important;
}
h1, h2, h3, h4, h5, h6, p, a, i, input, input::placeholder {
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
input {
    background: transparent;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    outline: none;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
body {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.wrapper {
    padding: 0 20px;
}
main section {
    margin-top: 80px;
    margin-bottom: 80px;
}
.hide {
    display: none;
}
.a1 {
    opacity: 0;
    animation: anim1 ease-out .5s .5s forwards;
}
@keyframes anim1 {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
}
h1 {
    text-align: center;
    margin: auto 0;
    font-size: 100px;
    opacity: 0;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
    margin-top: 40px;
}
.hidden {
    display: none !important;
}
@media screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
    h2 {
        font-size: 25px;
    }
}




/***********************************************************************************************************************
    Form & input
***********************************************************************************************************************/

form span {
    position: relative;
    display: block;
    height: 40px;
    width: calc(100% - 40px);
}
input {
    height: 100%;
    width: inherit;
    outline: none !important;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}
#searchData {
    border: solid 1px #000;
    transition: border-radius ease .3s;
    padding: 0 20px;
    width: 100%;
}
label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: calc(100% - 40px);
    pointer-events: none;
    transition: top ease .3s, font-size ease .3s;
}
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -12px;
    font-size: 12px;
}
#searchData:focus,
#searchData:not(:placeholder-shown) {
    border-radius: 20px;
}
.search {
    position: absolute;
    right: -40px;
    height: 100%;
    top: 0;
    width: 60px;
    font-size: 20px;
    border: 0;
    background: none;
    z-index: 9;
    cursor: pointer;
}
.error-msg {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    color: #b92829;
    font-weight: 100;
    animation: anim1 ease-out .3s forwards;
}
@media screen and (max-width: 800px) {
    .error-msg {
        font-size: 18px;
    }
}
.error-msg:after {
    content: "\f5c2";
    font-family: 'Font Awesome 5 Pro', fantasy;
    margin-left: 10px;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}
.parent span {
    width: auto;
    margin: 20px 20px 0 0;
    position: relative;
}
.parent span.first {
    order: -1;
    display: block !important;
}
.parent label {
    position: relative;
    top: 0 !important;
    left: 0;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    display: block;
    transform: none !important;
}
.parent label:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: solid 1px #000;
}
.parent input {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.parent input:checked + label:before,
.parent input:hover + label:before{
    border: solid 2px #000;
    top: -2px;
    left: -2px;
}
.parent input:checked + label {
    font-weight: 600;
}
.container-sources:not(.see-all) span:nth-of-type(n+25) {
    display: none;
}
.see-all-btn {
    height: 40px;
    background-color: transparent;
    line-height: 40px;
    color: #fff;
    padding: 0 20px;
    font-size: 12px;
    cursor: pointer;
    border: solid 1px #000;
    transition: color ease .3s;
    position: relative;
    margin-top: 20px;
    order: 9999;
}
.see-all-btn:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: width ease .3s;
    background-color: #000;
    z-index: -1;
    position: absolute;
}
.see-all-btn:after {
    content: '\f06e';
    font-family: 'Font Awesome 5 Pro', fantasy;
    margin-left: 10px;
}
.see-all-btn:hover {
    color: #000;
}
.see-all-btn:hover::before {
    width: 0;
}
.container-search {
    margin-top: 20px;
}



/***********************************************************************************************************************
    Header
***********************************************************************************************************************/

.container-1 {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    padding-bottom: 100px;
    border-bottom: solid 1px #000;
}
.container-1 > header,
.container-1 > div {
    width: 50%;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
header > div {
    text-align: right;
}
header > div a {
    position: relative;
}
header > div a:after {
    content: '';
    display: block;
    position: absolute;
    background: #000;
    bottom: -5px;
    height: 2px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width ease-out .3s;
}
header > div a:hover::after {
    width: 100%;
}
header > div a:first-of-type {
    margin-right: 10px;
}
@media screen and (max-width: 1024px) {
    .container-1 > header {
        width: 40%;
    }
    .container-1 > section {
        width: 60%;
    }
    h1 {
        font-size: 70px;
    }
}
@media screen and (max-width: 800px) {
    .container-1 {
        flex-direction: column;
    }
    .container-1 > section {
        width: 100%;
        height: 100%;
    }
    .container-1 > header {
        width: calc(100% - 40px);
        padding: 20px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        font-size: 40px;
        margin: 0;
        line-height: 1;
    }
}
@media screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
        top: -10px;
        position: relative;
    }
    .hello-sentence {
        font-size: 16px;
    }
}






/***********************************************************************************************************************
    Carousel - articles en avant
***********************************************************************************************************************/

@keyframes anim2 {
    to {
        max-height: 0;
    }
}
.main-article-carousel {
    color: #fff;
    width: 50%;
    position: relative;
}
.main-article-carousel .flickity-viewport {
    height: 100% !important;
}
.main-article-carousel:after  {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    position: absolute;
    animation: anim2 ease-out .5s .5s forwards;
}
.main-article-carousel article {
    width: 100%;
    position: relative;
    height: 100%;
}
.main-article-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-article-carousel figcaption {
    position: absolute;
    width: calc(100% - 40px);
    left: 0;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    color: #000;
}
.main-article-carousel figcaption > p:first-of-type {
    font-size: 14px;
    font-weight: 600;
}
.main-article-carousel figure {
    height: 100%;
    width: 100%;
}
.main-article-carousel h2 {
    font-size: 30px;
    padding: 10px 0;
}
@media screen and (max-width: 500px) {
    .main-article-carousel h2 {
        font-size: 20px;
    }
}
.main-article-carousel article p,
.main-article-carousel article h2 {
    opacity: 0;
    transform: translateY(20px);
    transition: ease-out .7s;
}
.main-article-carousel article.is-selected p,
.main-article-carousel article.is-selected h2 {
    opacity: 1;
    transform: none;
}
.main-article-carousel article h2 {
    transition-delay: .1s;
}
.main-article-carousel article p:last-of-type {
    transition-delay: .2s;
}






/***********************************************************************************************************************
    Liste des articles
***********************************************************************************************************************/

article {
    cursor: pointer;
}
article h2 {
    transition: color ease-out .3s;
}
article:hover h2 {
    color: #c51717;
}
.articles-list {
    display: flex;
    flex-wrap: wrap;
}
.articles-list article {
    width: calc((100% - 60px) / 4);
    margin-bottom: 80px;
    opacity: 0;
    animation: anim1 .7s .4s forwards;
}
@media screen and (max-width: 500px) {
    .articles-list article {
        margin-bottom: 40px;
    }
}
.articles-list article:nth-of-type(1) {
    animation-delay: 0s;
}
.articles-list article:nth-of-type(2) {
    animation-delay: .1s;
}
.articles-list article:nth-of-type(3) {
    animation-delay: .2s;
}
.articles-list article:nth-of-type(4) {
    animation-delay: .3s;
}
@media screen and (min-width: 1025px) {
    .articles-list article:not(:nth-of-type(4n)) {
        margin-right: 20px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
    .articles-list article:not(:nth-of-type(3n)) {
        margin-right: 20px;
    }
    .articles-list article {
        width: calc((100% - 40px) / 3);
    }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
    .articles-list article:not(:nth-of-type(2n)) {
        margin-right: 20px;
    }
    .articles-list article {
        width: calc((100% - 20px) / 2);
    }
}
@media screen and (max-width: 500px) {
    .articles-list article {
        width: 100%;
    }
}
.articles-list img {
    width: 100%;
    height: auto;
}
.articles-list h2 {
    font-size: 20px;
    margin: 10px 0;
}
.articles-list  figcaption {
    position: relative;
    font-size: 14px;
    line-height: 1.5;
}
.articles-list  figcaption p:first-of-type {
    background: #fff;
    display: inline;
    position: absolute;
    top: -35px;
    right: 20px;
    font-size: 12px;
    padding: 5px 10px;
    border: solid 1px;
}
.logout i {
    font-size: 11px;
    margin-left: 10px;
}
.logout {
    margin-right: 0 !important;
    font-weight: 600;
    font-size: 12px;
}
.hello-sentence {
    font-size: 18px;
}
figure {
    position: relative;
}
[data-favorite] {
    z-index: 2;
    position: absolute;
    top: -13px;
    cursor: pointer;
    font-size: 20px;
    right: 0;
    padding: 5px;
    color: red;
    transform: scale(.8) !important;
    transition: ease .1s;
}
[data-favorite="false"] {
      color: #000;
}
[data-favorite]:hover {
    transform: scale(1) !important;
}

/***********************************************************************************************************************
    Popin
***********************************************************************************************************************/

.popin {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0
}
.popin .links {
    display: flex;
    justify-content: center;
}
.popin h2:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000;
    bottom: -2px;
    transition: width ease .5s;
}
.popin h2:not(.active):hover::before,
.popin h2.active::before {
    width: 100%;
}
.popin h2  {
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
}
.popin h2:first-of-type {
    margin-right: 40px;
}
.popin > div {
    background-color: #FFF;
    border: solid 1px #000;
    padding: 40px;
    width: calc(100% - 120px);
    max-width: 400px;
}
.popin span {
    margin-bottom: 30px;
    width: calc(100% - 20px);
}
.popin input {
    border: solid 1px #000;
    padding: 0 20px;
    transition: border-radius ease .3s;
}
.popin input:focus + label,
.popin input:not(:placeholder-shown) + label {
    top: -9px;
}
.popin input:focus,
.popin input:not(:placeholder-shown) {
    border-radius: 20px;
}
.popin [type='submit'] {
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .4px;
    width: 100%;
    font-size: 14px;
    border: solid 1px #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    transition: color ease-out .5s;
}
.popin [type='submit'] i {
    position: relative;
    z-index: 2;
    pointer-events: none;
}
.popin [type='submit'] i:first-of-type {
    margin-right: 10px;
}
.popin [type='submit']:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #000;
    position: absolute;
    pointer-events: none;
    transition: width ease-out .5s;
}
.popin [type='submit']:hover {
    color: #000;
}
.popin [type='submit']:hover::before {
    width: 0;
}
.popin form:not(.active) {
    display: none;
}
.popin {
    transition: background-color ease-out .5s;
}
.popin:not(.hide) {
    background-color: rgba(255,255,255,.9);
}
.popin.hide {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}
.popin input.invalid {
    border-color: #c51717;
}
.popin input.invalid + label {
    color: #c51717;
}






/***********************************************************************************************************************
Article popin / viewer
***********************************************************************************************************************/

.article-viewer {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 999;
    overflow-y: scroll;
}
.article-viewer .article-content figcaption {
    padding: 40px 20px 60px;
    border-bottom: solid 1px #000;
    margin-bottom: 100px;
}
.article-viewer .article-content article {
    cursor: auto !important;
}
.article-viewer .article-content h2 {
    color: #000 !important;
    margin: 40px 0 20px;
    max-width: 1000px;
    font-size: 35px;
}
.article-viewer .article-content img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
}
.article-viewer .article-content a {
    font-weight: 600;
    margin: 40px 0;
    display: block;
    font-size: 14px;
}
.article-viewer .article-content a i {
    margin-left: 10px;
}
.back-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #000;
    color: #fff;
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 20px;
}
.back-btn i {
    margin-right: 5px;
    font-size: 14px;
    transition: transform ease .3s;
}
.back-btn:hover i {
    transform: translateX(-5px);
}
.article-viewer .article-content + h2,
.article-viewer .article-content + h2 + div {
    padding-right: 20px;
    padding-left: 20px;
}
.article-viewer .article-content + h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
.article-viewer .flickity-viewport {
    width: 100%;
}
.no-event article {
    pointer-events: none;
}
.article-viewer .articles-list article {
    margin-right: 20px !important;
    margin-bottom: 40px;
}
.article-viewer .articles-list {
    margin-bottom: 200px;
}
.flickity-page-dots .dot {
    height: 5px;
    width: 15px;
    border-radius: 0;
    border: solid 1px #000;
    background-color: transparent;
    opacity: 1;
    transition: background-color ease .3s;
}
.flickity-page-dots .dot.is-selected,
.flickity-page-dots .dot:hover {
    background-color: #000;
}
.section-recently-viewed .flickity-viewport {
    width: 100%;
}
.section-recently-viewed h2 {
    margin-bottom: 20px;
}

@media screen and (min-width: 1025px) {
    .article-viewer .articles-list:not(.flickity-enabled) article:nth-of-type(4n) {
        margin-right: 0 !important;
    }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
    .article-viewer .articles-list:not(.flickity-enabled) article:nth-of-type(3n) {
        margin-right: 0 !important;
    }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
    .article-viewer .articles-list:not(.flickity-enabled) article:nth-of-type(2n) {
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 500px) {
    .article-viewer .articles-list:not(.flickity-enabled) article {
        margin-right: 0 !important;
    }
}